*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

@mixin someair{
  margin: 2rem;
  padding: 1rem;
}

body{
  background-color: white;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}


h2.texto{
  @include  someair;
  width: auto;
  font-weight: bolder;
  font-size: 1.5em;
  color: rgb(7, 107, 207);
  padding: 2rem;
}

#logo{
  @include someair;
  background: url('./layout/assets/logo.png');
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
}

.borda{
  @include someair;
  color: black;
  width: 300px;
  border: 0.5px solid rgb(116, 216, 15);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.borda:focus{
  border: 0.5px solid rgb(116, 216, 15);
}

#consulta{
  border: none;
}

button.buscar{
  border: none;
  width: 30px;
  height: 15px;
  background: transparent;
  border: 0 solid black;
}

button.buscar:focus{
  border: none;
  width: 30px;
  height: 15px;
  background: transparent;
  border: 0 solid;
}


#lupa{
  background-image: url('./layout/assets/lupa.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

input{
  font-size: 1rem;
  font-style: italic;
}

input:focus{
  border: none;
}

.row{
  display: flex;
  width: 50rem;
  height: 20em;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.errorMessage{
  @include someair;
  display: none;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.errorMessage2{
  @include someair;
  display: none;
  color: red;
  font-weight: bold;
  font-size: 20px;
}


.sucessMessage{
  display: none;
  color: blue;
  font-weight: bold;
  font-size: 1.5rem;
}

